@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #35bdbd;
  z-index: 1000;
}

.navbar img{

  width: 50%;
  height:1%;
  align-items: center;
}

/* .logos {
  padding: 0.1rem;
  font-weight: 900;
  font-size: 20px;
} */

.logolink:hover {
  text-decoration: none; /* Remove underline on hover */
}

.list {
  margin-right: 4px;
  padding: 0.4rem;
}

.logolink {
  text-decoration: none;
  margin-left: -40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 570;
  font-size: 30px;
  color: black;
  position: relative; 
}

.navList {
  list-style: none;
  display: flex;
  margin-top: 1px;
}

.navLin {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 550;
  font-size: 13.5px;
  color: white;
  padding: 0.4rem 0.8rem;
  transition: color 0.3s ease;
  position: relative; 
}

.navLin:hover {
  color: #aaa;
  text-decoration: none;
}

.navLin::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: gray;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.navLin:hover::after {
  width: 70%;
}

.navLin.active {
  width: 270px;
}

.menu-icon{
  display: none;
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    margin-top: 0px;
    cursor: pointer;
    margin-right: 240px;
    color: white;
    font-size: 24px;
  }

  .navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: row;
  
  }

  .navbar img {
    
    width: 65px;
    height: 45px;
    align-items: center;
  }

  .logolink {
    margin-right: 10px;
    font-size: 20px;
    align-items: center;
  }

  .list {
    display: none; /* Hide navigation list by default on small screens */
  }

.list.active {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(17, 77, 148, 0.7); /* Slight transparency */
  width: 60vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 80px; /* Push content down below navbar */
}

  .list.active ul {
    list-style: none; 
    display: inline-block;
    margin-left: 30px;
    padding: 10px;
  }

  .list.active li {
    padding: 0.5rem 1rem;
    margin-top: 14px;
  }

  .list.active li:hover {
    background-color: #f0f0f0;
  }
}

@media (max-width: 800px) {
  .menu-icon {
    cursor: pointer;
    font-size: 30px;
    margin-left: 10px;
  }

  .navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar img {
    margin: 0;
    width: 40px;
    height: 40px;
  }

  .logolink {
    margin-left: 10px;
    font-size: 22px;
  }
}
